{
  "openapi": "3.0.0",
  "info": {
    "title": "Project Allocation API",
    "version": "1.0.0"
  },

  "servers": [
    {
      "url": "https://restlets.api.netsuite.com"
    }
  ],
  "paths": {
    "/REST FLASH ACTUALS(1791)": {
      "post": {
        "tags": [
          "SFDC"
        ],
        "summary": "Provides Transaction details",
        "description": "API provides the response with Draft flash numbers and transactions that are posted on requested duration or period o SFDC \nThe Sample URL looks like -https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=1791&deploy=1\n",
        "requestBody": {
          "description": "Project Allocation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1791"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1791_Response"
                }
              }
            }
          }
        }
      }
    },
    "/rest_m_menu_dashboard_otg(1232)": {
      "post": {
        "tags": [
          "On The Go"
        ],
        "summary": "To Fetch User Details uisng EmailID",
        "description": "Used by OTG to get dashboard count of TS,\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=1232&deploy=1\n",
        "requestBody": {
          "description": "Project Allocation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1232"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1232_Response"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Get SOW by ID",
        "description": "This GET request is processed for creating a SOW which returns the SOW ID and Opportunity ID.\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2506&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Id",
            "in": "query",
            "description": "ID of the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Name of the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Opportunity_Start_Date__c",
            "in": "query",
            "description": "Start date of the opportunity",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "AccountId",
            "in": "query",
            "description": "ID of the account related to the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Amount",
            "in": "query",
            "description": "Amount of the opportunity",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Project_Location__c",
            "in": "query",
            "description": "Project location of the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Work_Location__c",
            "in": "query",
            "description": "Work location of the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SOW_Status__c",
            "in": "query",
            "description": "SOW status of the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Delivery_Model__c",
            "in": "query",
            "description": "Delivery model of the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Billing_Type__c",
            "in": "query",
            "description": "Billing type of the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SOW_Start_Date__c",
            "in": "query",
            "description": "Start date of SOW for the opportunity",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "SOW_End_Date__c",
            "in": "query",
            "description": "End date of SOW for the opportunity",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "SOW_Currency__c",
            "in": "query",
            "description": "Currency of SOW for the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Item__c",
            "in": "query",
            "description": "Item for the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Is_PO_Required__c",
            "in": "query",
            "description": "Flag indicating if PO is required",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SOW_Amount__c",
            "in": "query",
            "description": "Amount of SOW for the opportunity",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Account_Subsidiary__c",
            "in": "query",
            "description": "Subsidiary of the account for the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Opportunity_ID__c",
            "in": "query",
            "description": "Opportunity ID for the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Account_Name",
            "in": "query",
            "description": "Name of the account for the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Account_ID__c",
            "in": "query",
            "description": "ID of the account for the opportunity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectAllocationResponse201_1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Opportunity not found"
          }
        }
      }
    },
    "/RESTlet_Termination(1643)": {
      "get": {
        "tags": [
          "Fusion"
        ],
        "summary": "Get SOW by ID",
        "description": "API to create Fusion- Employee JSON Master cuctom record \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=1643&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Date",
            "in": "query",
            "description": "Date(DD)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Month",
            "in": "query",
            "description": "Month(MM)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Year",
            "in": "query",
            "description": "Year(YYYY)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1643_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_Emp_Future_Termination(1891)": {
      "get": {
        "tags": [
          "Fusion"
        ],
        "summary": "Get SOW by ID",
        "description": "Setting Future Term Date on employee record from Fusion\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=1891&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonId",
            "in": "query",
            "description": "ID of the person/employee",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "PersonNumber",
            "in": "query",
            "description": "Employee number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AssignmentId",
            "in": "query",
            "description": "ID of the employee's assignment",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "AssignmentNumber",
            "in": "query",
            "description": "Assignment number",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ActionCode",
            "in": "query",
            "description": "Action code related to termination",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WorkerType",
            "in": "query",
            "description": "Type of the worker (e.g., \"E\" for Employee)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BusinessUnitName",
            "in": "query",
            "description": "Name of the business unit",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NotificationDate",
            "in": "query",
            "description": "Date of notification",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "AssignmentStatusType",
            "in": "query",
            "description": "Status type of the assignment (e.g., \"INACTIVE\")",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TerminationDate",
            "in": "query",
            "description": "Date of termination",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "LastWorkingDate",
            "in": "query",
            "description": "Date of the last working day (can be null)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "TerminationReason",
            "in": "query",
            "description": "Reason for termination",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TerminationAction",
            "in": "query",
            "description": "Type of termination action (e.g., \"Voluntary Separation\")",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1891_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_New_ExpeM_Expense_On_Save_OTG_V2.0(2008)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Get SOW by ID",
        "description": "API to create Fusion- Employee JSON Master cuctom record \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=1891&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EmailId",
            "in": "query",
            "description": "Email ID of the requester",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RequestType",
            "in": "query",
            "description": "Type of the request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExpID",
            "in": "query",
            "description": "ID of the expense",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Project",
            "in": "query",
            "description": "Project name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Purpose",
            "in": "query",
            "description": "Purpose of the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expenseDate",
            "in": "query",
            "description": "Date of the expense",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "Amount",
            "in": "query",
            "description": "Amount of the expense",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "Category",
            "in": "query",
            "description": "Category of the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsBillable",
            "in": "query",
            "description": "Flag indicating if the expense is billable",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Currency",
            "in": "query",
            "description": "Currency of the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Date",
            "in": "query",
            "description": "Date of the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ImgData",
            "in": "query",
            "description": "Image data of the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Memo",
            "in": "query",
            "description": "Memo for the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RefId",
            "in": "query",
            "description": "Reference ID of the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RefNo",
            "in": "query",
            "description": "Reference number of the expense",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ImgdataPDF",
            "in": "query",
            "description": "Flag indicating if the image data is in PDF format",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2008_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_M_AllocationDetails_OTG_V2.0(2020)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Get SOW by ID",
        "description": "Used by OTG to get resource allocations \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2020&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email ID",
            "in": "query",
            "description": "Email (abc@brillio.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Data",
            "in": "query",
            "description": "Additional Data",
            "required": true,
            "schema": {
              "type": "array",
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2020_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_M_Expense_Project_Details_V2.0(2007)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Get SOW by ID",
        "description": "Used by OTG to Fetch the expense Supporting funtions, such as Projects, currency\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2007&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email ID",
            "in": "query",
            "description": "Email (abc@brillio.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Data",
            "in": "query",
            "description": "Additional data for the request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Date": {
                  "type": "string",
                  "format": "date",
                  "description": "Specific date for user details"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2007_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_M_NotSubmiited_TS V2.0(2016)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "jdc",
        "description": "Used by OTG to get Timesheet Submitted and NOt submitted \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2016&deploy=1\n",
        "parameters": [
          {
            "name": "Email ID",
            "in": "query",
            "description": "Email (abc@brillio.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Data",
            "in": "query",
            "description": "Additional data for the request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Week Start Date": {
                  "type": "string",
                  "format": "date",
                  "description": "Specific date for user details"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2016_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_M_RealTime_Allocation_Data V2.0(2018)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "jdc",
        "description": "Used by OTG to create, submit timesheets\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2018&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email ID",
            "in": "query",
            "description": "Email (abc@brillio.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Data",
            "in": "query",
            "description": "Additional data for the request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Week Start Date": {
                  "type": "string",
                  "format": "date",
                  "description": "Specific date for user details"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2018_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_M_Travel_Approval_OTG V2.0(2013)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "jdc",
        "description": "Used by OTG to get travel approval list and to approve or reject them \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2013&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email ID",
            "in": "query",
            "description": "Email (abc@brillio.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Data",
            "in": "query",
            "description": "Additional data for the request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2013_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/Rest_OTG_birthday_newJoinee(2021)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "jdc",
        "description": "Used by OTG to get birthday of peers\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2021&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email ID",
            "in": "query",
            "description": "Email (abc@brillio.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2021_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_OTG_TS_Approve_Reject(2083)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Quick Time Approval Pool",
        "description": "Used by OTG to Approve the Timesheets\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2083&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email ID",
            "in": "query",
            "description": "Email (abc@brillio.com)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Data",
            "in": "query",
            "description": "Additional data for the request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2083_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/FUEL |REST_Edit_Allocation(2444)": {
      "post": {
        "tags": [
          "FUEL"
        ],
        "summary": "Create Project Allocation",
        "description": "This script is used to create Edit Allocation Record.\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2444deploy=1\n",
        "requestBody": {
          "description": "Project Allocation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2444"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2444_Response"
                }
              }
            }
          }
        }
      }
    },
    "/REST_edit_Allocation_withdraw(2445)": {
      "put": {
        "tags": [
          "FUEL"
        ],
        "summary": "Edit Allocation Request",
        "description": "this script is used to cancelled edit allocation request from fuel\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2445&deploy=1\n",
        "requestBody": {
          "description": "Project Allocation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2445"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2445_Response"
                }
              }
            }
          }
        }
      }
    },
    "/REST_Extension_Withdraw(2446)": {
      "put": {
        "tags": [
          "FUEL"
        ],
        "summary": "Cancel Extension Request",
        "description": "Script is used to cancelled Extension Request from fuel\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2446&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2446"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2446_Response"
                }
              }
            }
          }
        }
      }
    },
    "/REST_Allocation_Withdraw(2447)": {
      "put": {
        "tags": [
          "FUEL"
        ],
        "summary": "Intitate Allocation Request",
        "description": "Script is used to cancelled initiate allocation request from fuel\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2447&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2447"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2447_Response"
                }
              }
            }
          }
        }
      }
    },
    "/FUEL |Rest_Stakeholder_details(2449)": {
      "post": {
        "tags": [
          "FUEL"
        ],
        "summary": "Updates Delivery Manager",
        "description": "This sscript is used to update delivery manager and project manager on the project record\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2449deploy=1\n",
        "requestBody": {
          "description": "Project Allocation data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2449"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2449_Response"
                }
              }
            }
          }
        }
      }
    },
    "/FUEL|REST Allocation Extension(2450)": {
      "post": {
        "tags": [
          "FUEL"
        ],
        "summary": "To Fetch User Details uisng EmailID",
        "description": "Script is used to Create allocation extension request\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2450&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2450"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2450_Response"
                }
              }
            }
          }
        }
      }
    },
    "/FUEL|REST Allocation Request(2451)": {
      "post": {
        "tags": [
          "FUEL"
        ],
        "summary": "Create allocation Request",
        "description": "Script is used to Create allocation request \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2451&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2451"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2451_Response"
                }
              }
            }
          }
        }
      }
    },
    "/FUEL|REST Allocation Request(2452)": {
      "post": {
        "tags": [
          "FUEL"
        ],
        "summary": "Create Renewal Request",
        "description": "Script is used to create  Renewal request \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2452&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2452"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2452_Response"
                }
              }
            }
          }
        }
      }
    },
    "/FUEL |Rest_project Renewal withdraw(2453)": {
      "put": {
        "tags": [
          "FUEL"
        ],
        "summary": "Cancel Extension Request",
        "description": "Script is used to withdraw/cancelled\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2453&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2453"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2453_Response"
                }
              }
            }
          }
        }
      }
    },
    "/FUEL|Rest Percent allocation Change(2454)": {
      "post": {
        "tags": [
          "FUEL"
        ],
        "summary": "Percent Allocation",
        "description": "Script is used to create percent allocation change request \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2454&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2454"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2454_Response"
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "Please Enter the Values"
                }
              }
            }
          }
        }
      }
    },
    "/FUEL|REST_Release_Request(2455)": {
      "post": {
        "tags": [
          "FUEL"
        ],
        "summary": "Create Release request",
        "description": "Script is used to create Release request \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2455&deploy=1\n",
        "requestBody": {
          "description": "FUEL",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2455"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2455_Response"
                }
              }
            }
          }
        }
      }
    },
    "/Rest_Prospect_Automation_2.0(2516/2506)": {
      "post": {
        "tags": [
          "SFDC"
        ],
        "summary": "Create Prospect to SFDC",
        "description": "Script is used to create prospect and update the customer from SFDC to NS\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2516&deploy=1\n",
        "requestBody": {
          "description": "SFDC",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2516"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2516_Response"
                }
              }
            }
          }
        }
      }
    },
    "/Rest_Universal_API(2532)": {
      "post": {
        "tags": [
          "BI"
        ],
        "summary": "Create Release request",
        "description": "Script is used to fetch and send result based on the query stored in the Custom Record.\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2432&deploy=1\n",
        "requestBody": {
          "description": "BI",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/2532"
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "script",
            "description": "The script parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "deploy",
            "description": "The deploy parameter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2532_Response"
                }
              }
            }
          }
        }
      }
    },
    "/PoleStar Subsidiary Api(2261)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Send Details to PoleStar",
        "description": "Sending Subsidiary details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2007&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2261_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Account Api(2262)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Account Details to PoleStar",
        "description": "API to Send Accounts details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2262&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2262_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Project Api(2263)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Project Details to PoleStar",
        "description": "Sending Project details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2263&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2263_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Vendor Api(2264)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Vendor Details to PoleStar",
        "description": "Sending Vendor details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2264&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2264_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Region Api(2265)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Region Details to PoleStar",
        "description": "Sending Region details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2265&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2265_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Practice Api(2266)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Region Details to PoleStar",
        "description": "Sending Practice details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2266&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2266_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Customer Api(2267)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Customer Details to PoleStar",
        "description": "Sending Customers details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2267&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2267_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Item Api(2268)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Item Details to PoleStar",
        "description": "Sending Item details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2268&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Subsidiary",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2268_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Resource Allocation Api(2270)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Sending Details to PoleStar",
        "description": "Sending Resource Allocation for a date range to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2270&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2270_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_API_Employee_Polestar_Table(2271)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Sending Details to PoleStar",
        "description": "Sending Invocie transactions for a date range to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2271 &deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2271_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_API_Employee_Polestar_Table(2272)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Location Details to PoleStar",
        "description": "Sending Location details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2272&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2272_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_API_Employee_Polestar_Table(2273)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "External Project Details to PoleStar",
        "description": "Sending External projects details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2273&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2273_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar OtherName Api(2275)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Other Name to PoleStar",
        "description": "Sending Other Name Details  to PoleStar \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2275&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2275_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Time Api(2287)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Resource Allocatoin to PoleStar",
        "description": "Sending Resource Allocation for a date range to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2287&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2287_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/Rest_Polestar_Api_Invoice(2288)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Invoice Transactions to PoleStar",
        "description": "API to Send Invoice transactios for a date range to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2288&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Account",
            "in": "query",
            "description": "like Income",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Check Api(2276)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Check Details to PoleStar",
        "description": "API to Send Check details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2276&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Account",
            "in": "query",
            "description": "like Income",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Credit Memo Api(2277)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Check Details to PoleStar",
        "description": "Sending Credit Memo details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2277&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Journal Api(2278)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Journal Details to PoleStar",
        "description": "Sending Journal transactios for a date range to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2278&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Account",
            "in": "query",
            "description": "like Income",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Payment Api(2279)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Customer Payment Details to PoleStar",
        "description": "Sending Customer payment details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2279&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Bill Api(2280)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Vendor Bill Details to PoleStar",
        "description": "API to Send Vendor Bill details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2280&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2280_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Bill Api(2281)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Deposit Details to PoleStar",
        "description": "Sending deposite details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2281&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Vendor Credit Api(2282)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Vendor Credit Details to PoleStar",
        "description": "Sending vendor credit records for a date range to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2281&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Vendor Payment Api(2283)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Vendor Payments Details to PoleStar",
        "description": "Sending Vendor Payment records for a date range to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2283&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Expense Report Api(2285)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Vendor Payments Details to PoleStar",
        "description": "Sending Expense Reports details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2285&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Currency Valuation Api(2286)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Currency Details to PoleStar",
        "description": "Sending Currency Valuation details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2286&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Start Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "End Date",
            "in": "query",
            "description": "MM/DD/YYYY format",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST Vertical Api(2484)": {
      "get": {
        "tags": [
          "FUEL"
        ],
        "summary": "Currency Details to PoleStar",
        "description": "Sends active and inactive vertical,micro vertical,investor vertical,verticalmaster details.\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2484&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Request Data",
            "in": "query",
            "description": "like Resource Allocation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2484_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST Employee Data OTG_V2.0(2864)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Employee Details",
        "description": "Send the Employee Details\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2864&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Date and Time",
            "in": "query",
            "description": "Format DATETIMEETZ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2864_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_OTG_Employee_Data_V2.0(2871)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Fetch Employee Details",
        "description": "RESTlet Script to retrive Employee details using Employee ID\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2871&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Employee ID",
            "in": "query",
            "description": "integer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2871_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_OTG_EmployeeData_V2.0(2636)": {
      "get": {
        "tags": [
          "On The Go"
        ],
        "summary": "Employee Details",
        "description": "Returns all the active Employee Details \nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2636&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Date and Time",
            "in": "query",
            "description": "Format DATETIMEETZ",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2636_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Currency Exchange Rate Api(2269)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Currency Details to PoleStar",
        "description": "Sending Currency Exchange Rate details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2269&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RequestData",
            "in": "query",
            "description": "like CURRENCYEXCHANGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RequestParameter",
            "in": "query",
            "description": "like YEARLY",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2269_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/PoleStar Mobile Holiday Api(2274)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "Holiday Details to PoleStar",
        "description": "Sending Mobile Holiday Calender custom record details to PoleStar\nThe Sample URL looks like - https://restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=2274&deploy=1\n",
        "parameters": [
          {
            "name": "Request Type",
            "in": "query",
            "description": "like GET",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RequestData",
            "in": "query",
            "description": "like CURRENCYEXCHANGE",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "RequestDate",
            "in": "query",
            "description": "Format MM/DD/YYYY",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/2274_Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "404": {
            "description": "Expense not found"
          }
        }
      }
    },
    "/REST_Polestar_Access_Record(2339)": {
      "get": {
        "tags": [
          "BI"
        ],
        "summary": "BI access record to PoleStar",
[...]
